<div class="row">
    <div class="col-md-6">
        <div class="insperation">
            <h2 class="pri-heading">
                inspiration
            </h2>
            <h3 class="sec-heading">
                Simple to use for your app, products showcase and your inspiration
            </h3>
            <p class="para">
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
                 vitae eros eget tellus tristique bibendum. Donec rutrum sed sem 
                 quis venenatis. Proin viverra risus a eros volutpat tempor. In 
                 quis arcu et eros porta lobortis sit 
            </p>
            <app-icons [iconsArray]="iconListArray"></app-icons>
        </div>
    </div>
    <div class="col-md-4 offset-md-2">
        <img src="../../../../assets/images/iPad Mini.png" alt="Ipad" title="Ipad"
         class="img-fluid">
    </div>
</div>