
.mb-70{
    margin-bottom: 4.375rem;
}


ul{
    list-style: none;
    padding: 0;
}

a:link,
a:visited{
    text-decoration: none;
}

.section{
    padding: 6.25rem 0;
}

.mb-120{
    margin-bottom: 7.5rem;
}

.mb-30{
    margin-bottom: 1.875rem;
}